* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Arial Narrow';
  font-weight: bold;
  font-size: large;
  letter-spacing: 2.5px;
}

.dark-mode {
  background-color: #191e2e;
  color: white;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.5px dotted #8c00ff;
}

.navbar .themetoggle {
  border-radius: 25px;
  margin-top: 15px;
  padding: 5px 10px 5px 10px;
  position: relative;
}

.navbar .themetoggle i {
  position: relative;
}

.navbar .themetoggle .toggle-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  width: 40px;
  border: #bbb solid 1px;
  height: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.navbar .themetoggle .toggle-button::after {
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  position: absolute;
  left: 3px;
  top: 1.5px;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  width: 15px;
  height: 15px;
  background-color: #8c00ff;
  border-radius: 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navbar .themetoggle .toggle-button:checked::after {
  -webkit-transform: translateX(calc(100% + 3px));
          transform: translateX(calc(100% + 3px));
  background-color: #fff;
}

.navbar .themetoggle .toggle-button:checked {
  background-color: #8c00ff;
}

.navbar h1 {
  margin: 20px;
}

.navbar h1 a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 15px 5px 15px;
  color: #8c00ff;
}

.navbar h1 a:hover {
  border: 5px #8c00ff solid;
  border-radius: 25px;
  color: white;
  background: #8c00ff;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.navbar ul a {
  text-decoration: none;
}

.navbar ul a li {
  padding: 5px 15px 5px 15px;
  color: #8c00ff;
  margin: 15px 15px 15px 15px;
}

.navbar ul a li:hover {
  border-radius: 25px;
  color: white;
  background: #8c00ff;
  border: 1px #8c00ff solid;
}

.navbar ul a.active li {
  border-radius: 25px;
  color: white;
  background: #8c00ff;
  border: 1px #8c00ff solid;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.container .skills h1.skillstheme {
  margin: 25px;
}

.container .skills p {
  font-size: 10px;
  margin: 15px 0 15px 15px;
}

.container .skills .containerr {
  width: 350px;
  background-color: #fff;
  border-radius: 25px;
  border: #8c00ff solid 1px;
  text-align: center;
  /*padding: 5px;
            margin: 15px 0px 15px 15px;*/
  margin: 15px 0px 15px 15px;
}

.container .skills .containerr .html5 {
  width: 90%;
  background-color: #8c00ff;
}

.container .skills .containerr .css {
  width: 70%;
  background-color: #8c00ff;
}

.container .skills .containerr .js {
  width: 30%;
  background-color: #8c00ff;
}

.container .skills .containerr .js, .container .skills .containerr .html5, .container .skills .containerr .css {
  padding: 10px;
  border-radius: 25px;
}

.container .mypic {
  margin-top: 5%;
  pointer-events: none;
}

.container .home {
  /*border: 1px black solid;*/
  padding: 15px;
  margin: 25px;
  font-size: 35px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .home p {
  margin-top: 15%;
  font-size: 15px;
}

.container .home span {
  color: #8c00ff;
  font-size: 40px;
}

.container .home h1.text {
  margin-right: auto;
  text-align: center;
}

.container .home input {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  border: 1px #bbb solid;
  padding: 10px;
}

.container .home textarea {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  border: 1px #bbb solid;
  padding: 10px;
  margin-top: 5px;
}

.container .home input.submit {
  background: #8c00ff;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */